* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: "Sen", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    height: 10000px;
}

/* ========================== Common =========================== */

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 11px 41px;
    min-width: 118px;
    text-align: center;
    border-radius: 2.5rem;
}

.row {
    display: flex;
}

/* ========================== Header =========================== */

.header {
    background: #fffcf4;
}

.fixed-header {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .navbar {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header ul {
    display: flex;
    margin-left: auto;
    gap: 42px;
    position: relative;
}

.header li a {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
}

.header li a:hover,
.header li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.header .active a::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    top: 24px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .action {
    margin-left: 70px;
}

.header .btn {
    background: #171100;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}
